/* ### Colors */
/* Green: #20c063 / RGBA(32,192,99,1) */
/* Gray: #e8e9ea  / RGBA (232,233,234,1) */
/* Dark Text: #3b4144 / RGBA (59,65,68,1) */

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
}

/* Header */
.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32, 192, 99, 1);
    position: fixed;
    /* to fix the nav bar on the top */
    width: 100%;
    top: 0px;
}

.logo{
    min-width: 80px;
    padding: 10px 20px;
}
.topNavLeft{
    position: relative;
    /* position the left nav close to logo. different justify-content options didn't work so husbie showed me this trick */
    right: 300px;
    /* to arrange how close to the logo at the left side */
}

.topNavLeft ul{
    display: flex;
    justify-content: left;
    text-decoration: none;
    list-style: none;
    /* list style none to get rid of the bullets */
    margin: 0;
    padding: 0;
    /* zero margin and padding so there is no spacing between uls */
    gap: 20px;
}

.topNavRight ul{
    display: flex;
    justify-content: right;
    text-decoration: none;
    list-style: none;
    padding-right: 30px;
    margin: 0;
    padding: 0;
    /* zero margin and padding so there is no spacing between ul's li */
    gap: 20px;
    margin-right: 20px;
}

.topNav a{
    color: white;
    text-decoration: none;
}

/* second row */
.secondRow{
    margin-top: 70px;
}

.secondRow ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.secondRowLeft{
    font-weight: bold;
}


/* HERO */
/* .heroGridArea {
    background-color: rgba(232,233,234,1);
    padding: 15px;
} */

.heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(232,233,234,1);
    grid-gap: 15px;
    padding: 15px;
}

.div-box{
    background-color: white;
}


.house1{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
}

.house2{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
}

.house3{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
}

.house4{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
}

.house5{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
}

.house6{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
}

.house7{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
}

.house8{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
}

.house9{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
}

.house10{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
}

.house11{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
}

.house12{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
}


.house-image{
    width: 100%;
    height: 260px;
    background-position: center;
    background-size: cover;
    /* cover for wraping the pic inside the div */
}

.arrow-svg{
    height: 20px;
}

.house-prices{
    display: flex;

}

.house-prices h1{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.houseInfo ul{
    display: flex;
    height: 20px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.houseFacts{
    list-style: none;
}


.houseInfo ul li{
    margin: 0;
    padding: 0 5px 0 0;
}

.houseInfo img{
    height: 14px;
}

.houseAddress{
    margin: 0;
}


.div-box{
    overflow: hidden;
/* do not let anythng inside the box be outside the box*/
}



/* footer1 */

.firstFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstFooter .firstLine{
    display: flex;
}

.firstFooter .firstLine ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 10px;
}

.firstLine ul a{
    color: #20c063;
}

/* 20010 Real Estate Insights */




/* footer2 */
/* I copied and paste header and adjust it as a footer for consistency */
.bottomNav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59,65,58,1);
}

.bottomNav2 ul{
  list-style: none;  
  display: flex;
  gap: 12px;
}

.bottomNav2 a{
    color: white;
    text-decoration: none;
}