/* Featured and Expanded Item */

.trulia-grid-item {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.trulia-featured-grid-item {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
    min-height: 360px;
}

.trulia-house-image{
    height: 80%;
}

.trulia-featured-grid-item .trulia-house-facts{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    padding: 5px 15px;
}

.trulia-featured-grid-item .trulia-house-address {
    flex: 3;
    font-size: 18px;
    color:rgb(55,55,55);
}

.trulia-featured-grid-item .trulia-house-price h1 {
    font-size: 25px;
}

.trulia-featured-grid-item .trulia-house-stats {
    flex:1;
    font-size: 16px;
    font-weight: bold;
}

.trulia-featured-grid-item .trulia-article-icon {
    height: 22px;
    padding: 1px 3px;
  }
